.header{
  padding: 10px 0;
  background: rgba(0,0,0,.40);
  .container{
    display: flex;
  }

}
.logo{
  width: 170px;
  height: 45px;
}
.logo-white{
  .first-white-header,
  .second-white-header,
  .thirty-white-header{
    stroke: #fff;
  }
  .let-1, .let-2, .let-3, .let-4, .let-5{
    fill: #fff;
  }
}
.logo-black{
  .first-white-header,
  .second-white-header,
  .thirty-white-header{
    stroke: #000;
    fill: #000;
  }

}
.first-white-header,
.second-white-header,
.thirty-white-header{
  transform: translate(0, 0px);
  stroke-width: 8px;
  opacity: 1;
}
.animated .first-white-header{
  animation: change-1-1 1.5s 1 linear forwards;
}
.animated  .thirty-white-header {
  animation: change-3-1 1.5s 1 linear forwards;
}
.animated  .second-white-header{
  animation: change-2-1 1.5s 1 linear forwards;
}
.first-circle-header, .second-circle-header{
  opacity: 0;
}
.animated  .first-circle-header{
  animation: dot-fade 2s 1 linear forwards;
}
.animated .second-circle-header{
  animation: dot-fade 2s 1 linear forwards;
}
.animated .let-1{
  animation: fadeInText2 2s;
  animation-iteration-count:  1;
}
.animated .let-2{
  animation: fadeInText3 .7s;
  animation-iteration-count:  1;
}
.animated .let-3{
  animation: fadeInText4 1s;
  animation-iteration-count:  1;
}
.animated .let-4{
  animation: fadeInText1 .5s;
  animation-iteration-count:  1;
}
.animated .let-5{
  animation: fadeInText3 .7s;
  animation-iteration-count:  1;
}
@keyframes fadeInText1 {
  0%{
    opacity: 0;
    transform: matrix(.8, 0, 0, 1, 110, 0);
  }
  40%{
    opacity: 0.1;
  }
  80%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes fadeInText2 {
  0%{
    opacity: 0;
    transform: matrix(1.5, 0, 0, 1.5, -160, -22);
  }
  40%{
    opacity: 0.6;
  }
  80%{
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 0.3;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeInText3 {
  0%{
    opacity: 0;
    transform: matrix(.9, 0, 0, 1, -10, 0);
  }
  70%{
    opacity: .3;
  }
  100%{
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes fadeInText4 {
  0%{
    opacity: 0;
    transform: matrix(1, 0, 0, 1, -225, 0);
  }
  40%{
    opacity: .5;
  }
  100%{
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.h-line-1{
  stroke-dasharray: 83 85;
  stroke-dashoffset: 84;
  animation: h-line 1s 1 linear forwards;
}
.h-line-2{
  stroke-dasharray: 26 28;
  stroke-dashoffset: 27;
  animation: h-line 1s 1 linear forwards;
}
.h-line-3{
  opacity: 0;
  animation: h-line-1 1s 1 linear forwards;
}
.h-circle-1{
  opacity: 0;
  transform: translate(10px, 5px);
  animation: circle-fade  1.2s 1 linear forwards;
}
.h-circle-2{
  opacity: 0;
  transform: translate(10px, 5px);
  animation: circle-fade 1s 1 linear forwards;
}

@keyframes h-line-1 {
  0%{
    opacity: 0;
  }
  49%{
    opacity: 0;
  }
  50%{
    opacity: 0;
    transform: matrix(.6, 0, 0, 1, 0, 0);
  }
  100%{
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes circle-fade {
  100%{
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes h-line {
  100%{
    stroke-dashoffset:0;
  }
}